.main{
  background-color: black;
}


.grid{
  display: grid;
  height: fit-content;
  width: 100%;
  padding: .5rem 2rem;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 40px 530px 40px 530px 40px 530px;
  grid-row-gap: 12px;
  grid-column-gap: 20px;
  margin-top: 20px;

}
.title{
  background-color: #2387bd;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 1rem;
  color: white;
  font-size: .5rem;
  border-radius: 5px;
}

.wrapper{
  background-color: #212c32;
  grid-row: 2/-1;
  grid-column: 1/2;
}

.heroImg{
  background-image: url('https://s4.anilist.co/file/anilistcdn/media/anime/banner/21-wf37VakJmZqs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 20%;
  background-position: center;
  position: relative;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}